demo/app/jasper-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jasperreports="http://www.mulesoft.org/schema/mule/jasperreports" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jasperreports http://www.mulesoft.org/schema/mule/jasperreports/current/mule-jasperreports.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <jasperreports:config name="JasperReports__Configuration" jasperPath="/tmp" reportIdentifier="testReport" outputDirectory="/tmp" xmlData="&lt;test&gt;test&lt;/test&gt;" doc:name="JasperReports: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/jasper" doc:name="HTTP Listener Configuration"/>
    <flow name="jasper-flowFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <dw:transform-message metadata:id="afc2115b-c3ed-4fbf-8774-707349bda4f9" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
{
	Address: {
		ContactName: "TestPayload",
		AddressLine1: "Test Line 1"
	}
}]]></dw:set-payload>
            <dw:set-variable variableName="reportContent"><![CDATA[%dw 1.0
%output application/xml
---
{
	Address: {
		ContactName: "Test",
		AddressLine1: "Test Line 1"
	}
}]]></dw:set-variable>
        </dw:transform-message>
        <jasperreports:generate-report config-ref="JasperReports__Configuration" reportId="testReport"  doc:name="JasperReports" reportContent-ref="#[flowVars['reportContent']]" reportType="PDF" retainFile="true"/>
    </flow>
</mule>
